html, body {
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
  
    font-style: normal;
}
#login-panel {
    display: flex;
    width: 35%;
    height: calc(35% + 16vw);
    min-height: 300px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex-wrap: nowrap;
    flex-grow: 7;
    gap: 1em;
}
h1 {
    
    justify-content: center;
    flex-grow: 1;
    font-weight: 300;
}
input {
    width: 30vw;
    height: calc(3vh + 5vw);
    /* border-radius: 30px; */
    border-style: none none solid none;
    border-color: grey;
    /* border-bottom-color: black; */
}
